@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* font-family: 'Public Sans', sans-serif; */
/* font-family: 'Caveat', cursive; */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color:black;
    scroll-behavior: smooth;
}

header {
    position:relative;
    height: 100vh;
    background-image: url(photos/tło1.jpg);
    background-size: cover;
 
}

nav.menu{
    margin: 0px auto 0;
    padding-top: 4%;
}

ul.menu{
    display: flex;
    list-style-type: none;
    background-color: rgba(215, 144, 135, 0.5);

}
ul.menu li{
    flex: 1;
    
}
ul.menu li a{
    display: inline-block;
    padding: 10px 5px;
    width:100%;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
ul.menu li a:hover{
    background-color: rgb(215, 144, 135);
}
div.content{
    position: absolute;
    width: 40vw;
    height: 80vh;
    left: 10%;
 }
div.text{
    position: absolute;
    top: 10%;
}
p.witaj{
    /* position: absolute;
    top: 15%; */
    padding-bottom:10%;
    font-family: 'Caveat', cursive;
    font-size: 130px;
}
h1.name{
    /* position:absolute;
    top: 50%; */
    font-size: 30px;
}
p.job{
    /* position: absolute;
    top: 57%; */
    font-size:30px;
}
a.button{
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 70%;
    padding: 5px 15px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    border: 5px solid rgba(215, 144, 135, 0.5);
    background-color:transparent;
    text-decoration: none;
    transition: 0.3s;
}
a.button:hover{
    border-color: rgb(215, 144, 135);
    cursor: pointer;
}
img.komputer{
    position: absolute;
    top: 30%;
    right: 10%;
    width: 40vw;
    border-color: rgba(215, 144, 135, 0.5);
    border-width: 8px 10px;
    border-style: solid;
}

@media (orientation: landscape) and (max-width: 1200px){
    img.komputer{
        right: 7%;
    }
    div.content{
        left:7%;
    }
}

@media (orientation: landscape) and (max-width: 1000px){
    
    p.witaj{
        font-size: 115px;
    }
    p.job, h1.name{
        font-size: 25px;
    }
    a.button{
        font-size: 35px;
        border-width: 3px 5px;
    }
    img.komputer{
        top:35%;
    }
}
@media (orientation: landscape) and (max-width: 832px){
    nav.menu{
        padding-top: 1%;
    }
    a.button{
        top: 77%;
    }
}
@media (orientation: landscape) and (max-width: 850px){
    div.text{
        top:5%;
    }
    div.text p.witaj{
        font-size: 100px;
    }
    p.job, h1.name{
        font-size: 20px;
    }
    a.button{
        font-size: 30px;
    }
}

@media (orientation: landscape) and (max-width: 670px){
    ul.menu li a{
        font-size: 18px;
    }
    div.text p.witaj{
        padding-bottom: 7%;
        font-size: 80px;
    }
    p.job, h1.name{
        font-size: 18px;
    }
    a.button{
        font-size: 25px;
    }
    img.komputer{
        border-width: 5px 7px;
    }
}
@media (orientation: landscape) and (max-width: 600px){
    ul.menu li a{
        font-size: 14px;
    }
    div.text p.witaj{
        padding-bottom: 10%;
        font-size: 65px;
    }
    p.job, h1.name{
        font-size: 16px;
    }
    a.button{
        font-size: 20px;
        border-width: 2px 4px;
    }
}

@media(orientation: portrait){
    ul.menu li a{
        font-size: 25px;
    }
    div.content{
        width: 80vw;
        height: 45vh;
    }
    div.text{
        text-align: center;
        width: 100%;
        left:0%;
    }
    p.witaj{
        font-size: 160px;
    }
    p.job, h1.name{
        font-size: 40px;
    }
    a.button{
        font-size: 45px;
        left:35%;
        top: 75%;
    }
    img.komputer{
        width: 80vw;
        top: 57%;
        right:10%;
    }
}
@media (orientation: portrait) and (max-width: 950px){
    ul.menu li a{
        font-size: 20px;
    }
    p.witaj{
        font-size: 150px;
    }
    p.job, h1.name{
        font-size: 35px;
    }
    a.button{
        font-size: 40px;
        top: 85%;
    }
}

@media (orientation: portrait) and (max-width: 700px){
    nav.menu{
        padding-top: 3%;
    }
    ul.menu li a{
        font-size: 16px;
    }
    div.text{
        top: 5%;
    }
    p.witaj{
        padding-bottom: 5%;
        font-size: 100px;
    }
    p.job, h1.name{
        font-size: 20px;
    }
    a.button{
        font-size: 25px;
    }
    img.komputer{
        width: 60vw;
        right:20%;
        bottom: 5%;
        top: auto;
    }
}

@media (orientation: portrait) and (max-width: 500px){
    ul.menu li a{
        font-size: 14px;
    }
    a.button{
        left:30.5%;
    }
}

@media (orientation: portrait) and (max-width: 450px){
    nav.menu{
        padding-top: 5%;
    }
    ul.menu li a{
        font-size: 16px;
    }
    img.komputer{
        width: 80vw;
        right:10%;
        bottom: 5%;
        top: auto;
    }
}
@media (orientation: portrait) and (max-width: 320px){
    ul.menu li a{
        font-size: 14px;
    }
    p.witaj{
        font-size: 80px;
    }
    p.job, h1.name{
        font-size: 18px;
    }
    a.button{
        border-width: 2px 4px;
    }
    img.komputer{
        border-width: 5px 7px;
    }
}

section.o_mnie{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 12% auto;
    grid-gap: 10%;
    background-color: #F4F3F1;
    padding:20px 5% 0 5%;
    height: 100vh;
}
section.o_mnie h1{
    grid-row-start: 1;
    grid-column: span 2/-1;
    justify-self: center;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
section.o_mnie div.opis{
    grid-row-end: -1;
    grid-column-start: 1;
    align-self: center;
    text-align: justify;
}
section.o_mnie img{
    grid-row-end: -1;
    grid-column-start: 2;
    width: 100%;
    align-self: center;
    border-color: rgba(215, 144, 135, 0.5);
    border-width: 30px 15px 15px 30px;
    border-style: solid;
}


@media (orientation: landscape) and (max-width: 850px){
    section.o_mnie h1{
        font-size: 80px;
    }
    section.o_mnie div.opis p{
        font-size: 16px;
    }
}

@media (orientation: landscape) and (max-width: 670px){
    section.o_mnie{
        grid-template-columns: 50% auto;
    }
    section.o_mnie h1{
        font-size: 60px;
    }
    section.o_mnie div.opis p{
        font-size: 14px;
    }
    section.o_mnie img{
    border-width: 15px 7px 7px 15px;
    }
}
@media (orientation: landscape) and (max-width: 600px){
    section.o_mnie h1{
        font-size: 55px;
    }
}

@media(orientation: portrait){
    section.o_mnie{
        grid-template-columns: 100%;
        grid-template-rows: 12% auto 50%;
        grid-gap: 5%;
    }
    section.o_mnie h1{
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 120px;
    }
    section.o_mnie div.opis {
        grid-row-end: -2;
        grid-column-start: 1;
    }
    section.o_mnie div.opis p{
        font-size: 30px;
    }
    section.o_mnie img{
        grid-row-end: -1;
        grid-column-start: 1;
    }
    
    
}
@media (orientation: portrait) and (max-width: 950px){
    section.o_mnie h1{
        font-size: 100px;
    }
    section.o_mnie div.opis p{
        font-size: 20px;
    }
}

@media (orientation: portrait) and (max-width: 700px){
    section.o_mnie h1{
        font-size: 90px;
    }
    section.o_mnie div.opis p{
        font-size: 18px;
    }
    section.o_mnie img{
        align-self: start;
        }
}

@media (orientation: portrait) and (max-width: 500px){
    section.o_mnie h1{
        font-size: 80px;
    }
    section.o_mnie div.opis p{
        font-size: 16px;
    }
    section.o_mnie img{
    border-width: 20px 10px 10px 20px;
    }
}

@media (orientation: portrait) and (max-width: 320px){
    section.o_mnie h1{
        font-size: 60px;
    }
    section.o_mnie div.opis p{
        font-size: 15px;
    }
}


section.portfolio{
    background-color: #F4F3F1;
    padding-bottom: 25px;
}

section.portfolio h1{
    padding: 30px 20px 20px;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    text-align: center;
}

section.portfolio div.elementy{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.elementy div.p_element{
    width: 30%;
    height: 50vh;
    background-image: url(photos/portfolio.jpg);
    background-size: cover;
}

div.elementy div.p_element aside{
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(215, 144, 135, 0.5);
    height: 100%;
    opacity:0;
    transition: 0.4s;
}

div.elementy div.p_element:hover aside{
    opacity: 100%;
}

div.p_element aside h2{
    align-self: center;
}

div.p_element aside p{
    text-align: justify;
}

div.p_element aside button{
    padding: 5px 8px;
    border: #111 solid 2px;
    background-color: transparent;
    align-self: center;
    transition: 0.3s;  
}

div.p_element aside button:hover{
    /* background-color: rgba(244, 243, 241, 0.5); */
    background-color:  rgba(215, 144, 135, 0.5);
    cursor: pointer;
}

@media (orientation: landscape) and (max-width: 1000px){
    div.p_element aside p{
        font-size: 18px;
    }
}

@media (orientation: landscape) and (max-width: 850px){
    div.p_element aside h2{
        font-size: 18px;
    }
    div.p_element aside p{
        font-size: 16px;
    }
    div.p_element aside button{
        font-size: 18px;
    }
}

@media (orientation: landscape) and (max-width: 670px){
    section.portfolio h1{
        font-size: 90px;
    }
    div.p_element aside h2{
        font-size: 16px;
    }
    div.p_element aside p{
        font-size: 14px;
    }
    div.p_element aside button{
        font-size: 16px;
    }
}
@media (hover: none) and (orientation: landscape){
    div.elementy div.p_element{
        position: relative;
        width: 80%;
        background-size: 50%;
        background-repeat: no-repeat;
    }
    div.elementy div.p_element aside{
        position: absolute;
        left: 60%;
        height: 90%;
        opacity: 100%;
    }
    div.p_element aside h2{
        font-size: 26px;
    }
    div.p_element aside p{
        font-size: 24px;
    }
    div.p_element aside button{
        font-size: 26px;
    }
}

@media (hover: none) and (orientation: landscape) and (max-width: 1200px){
    div.p_element aside h2{
        font-size: 22px;
    }
    div.p_element aside p{
        font-size: 20px;
    }
    div.p_element aside button{
        font-size: 22px;
    }
}

@media (hover: none) and (orientation: landscape) and (max-width: 1000px){
    div.p_element aside h2{
        font-size: 20px;
    }
    div.p_element aside p{
        font-size: 18px;
    }
    div.p_element aside button{
        font-size: 20px;
    }
}

@media (hover: none) and (orientation: landscape) and (max-width: 850px){
    section.portfolio h1{
        font-size: 60px;
    }
    div.elementy div.p_element{
        background-size: 40%;
    }
    div.elementy div.p_element aside{
        left: 50%;
    }
    div.p_element aside h2{
        font-size: 17px;
    }
    div.p_element aside p{
        font-size: 15px;
    }
    div.p_element aside button{
        font-size: 15px;
    }
}

@media (hover: none) and (orientation: landscape) and (max-width: 670px){
    div.p_element aside h2{
        font-size: 15px;
    }
    div.p_element aside p{
        font-size: 12px;
    }
    div.p_element aside button{
        font-size: 12px;
        border-width: 1px;
    }
}
@media (hover: none) and (orientation: landscape) and (max-width: 600px){
    div.p_element aside h2{
        font-size: 14px;
    }
    div.p_element aside p{
        font-size: 11px;
    }
    div.p_element aside button{
        font-size: 11px;
        padding: 3px 6px;
    }
}

@media(orientation: portrait){
    section.portfolio h1{
        padding-top: 50px;
    }
    section.portfolio div.elementy{
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10%;
    }
    div.elementy div.p_element{
        width: 100%;
    }
}

@media (hover: none) and (orientation: portrait){
    div.elementy div.p_element{
        position: relative;
        height: 80vh;
        background-size: auto 50%;
        background-repeat: no-repeat;
    }
    div.elementy div.p_element aside{
        position: absolute;
        top: 50%;
        height: 50%;
        opacity: 100%;
    }
    div.p_element aside h2{
        font-size: 38px;
    }
    div.p_element aside p{
        font-size: 36px;
    }
    div.p_element aside button{
        font-size: 38px;
    }
}

@media (hover: none) and (orientation: portrait) and (max-width: 950px){
    div.p_element aside h2{
        font-size: 34px;
    }
    div.p_element aside p{
        font-size: 32px;
    }
    div.p_element aside button{
        font-size: 34px;
    }
}

@media (hover: none) and (orientation: portrait) and (max-width: 700px){
    div.p_element aside h2{
        font-size: 24px;
    }
    div.p_element aside p{
        font-size: 22px;
    }
    div.p_element aside button{
        font-size: 24px;
    }
}

@media (hover: none) and (orientation: portrait) and (max-width: 500px){
    section.portfolio h1{
        font-size: 60px;
    }
    div.p_element aside h2{
        font-size: 18px;
    }
    div.p_element aside p{
        font-size: 16px;
    }
    div.p_element aside button{
        font-size: 18px;
    }
}

@media (hover: none) and (orientation: portrait) and (max-width: 320px){
    div.p_element aside h2{
        font-size: 16px;
    }
    div.p_element aside p{
        font-size: 14px;
    }
    div.p_element aside button{
        font-size: 16px;
    }
}

section.kontakt{
    background-image: url(photos/tło1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section.kontakt h1{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-gap: 15px;
    padding-left: 20vw;
}

label{
    display: block;
}

input, textarea{
    border:rgba(215, 144, 135, 0.5) solid 2px;
    padding: 3px 5px;
    background-color: rgba(250,250,250,0.5);

}

input:focus, textarea:focus{
    border:rgb(215, 144, 135) solid 2px;
}

button.wyslij{
    border:rgba(215, 144, 135, 0.5) solid 2px;
    padding: 5px 7px;
    grid-column: span 2/ -1;
    justify-self: center;
    width: 25%;
    background-color: transparent;
}

label.name{
    grid-column: 1;
}
label.lastname{
    grid-column: 2;
}

label.email, label.temat, label.tresc{
    grid-column: span 2/-1;
}

label.tresc{
    display: flex;
    justify-content: flex-start;
}
input.name, input.lastname{
    width: 70%;
}

input.email{
    width: 60%;
}

input.temat{
    width: 80%;
}
label.tresc p{
    align-items: flex-start;
    padding-right: 5px;
}
textarea.tresc{
    width: 80%;
    height: 20vh;
}

