@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* font-family: 'Public Sans', sans-serif; */
/* font-family: 'Caveat', cursive; */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color:black;
}

header {
    position:relative;
    height: 100vh;
    background-image: url(photos/tło1.jpg);
    background-size: cover;
 
}

nav.menu{
    margin: 0px auto 0;
    padding-top: 4%;
    max-width: 1000px;
}

ul.menu{
    display: flex;
    list-style-type: none;
    background-color: rgba(215, 144, 135, 0.5);

}
ul.menu li{
    flex: 1;
    
}
ul.menu li a{
    display: inline-block;
    padding: 10px 5px;
    width:100%;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
ul.menu li a:hover{
    background-color: rgb(215, 144, 135);
}

p.witaj{
    position: absolute;
    left: 10%;
    top: 25%;
    font-family: 'Caveat', cursive;
    font-size: 130px;
}
h1.name{
    position:absolute;
    left: 10%;
    top: 60%;
    font-size: 30px;
}
p.job{
    position: absolute;
    left:10%;
    top: 67%;
    font-size:30px;
}
button.b_portfolio{
    position: absolute;
    left: 20%;
    top: 80%;
    padding: 5px 15px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    border: 5px solid rgba(215, 144, 135, 0.5);
    background-color:transparent;
    transition: 0.3s;
}
button.b_portfolio:hover{
    border-color: rgb(215, 144, 135);
    cursor: pointer;
}
img.komputer{
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 40vw;
    border-color: rgba(215, 144, 135, 0.5);
    border-width: 8px 10px;
    border-style: solid;
}

section.o_mnie{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 10% auto;
    grid-gap: 10%;
    background-color: #F4F3F1;
    padding:20px 5% 0 5%;
    height: 100vh;
}
section.o_mnie h1{
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
section.o_mnie div.opis{
    grid-row-end: -1;
    grid-column-start: 1;
    align-self: center;
    text-align: justify;
}
section.o_mnie img{
    grid-row: span 2/-1;
    width: 100%;
    align-self: center;
    border-color: rgba(215, 144, 135, 0.5);
    border-width: 30px 15px 15px 30px;
    border-style: solid;
}

section.portfolio{
    background-color: #F4F3F1;
    /* background-image: url(photos/tło1.jpg);
    background-size: cover; */
}

section.portfolio h1{
    padding: 20px;
    font-size: 100px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    text-align: center;
}

section.portfolio div.elementy{
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.elementy div.p_element{
    width: 30%;
    height: 50vh;
    background-image: url(photos/portfolio1.jpg);
    background-size: cover;
}

div.elementy div.p_element aside{
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(215, 144, 135, 0.5);
    height: 100%;
    opacity:0;
    transition: 0.4s;
   
}

div.elementy div.p_element:hover aside{
    opacity: 100%;
}


div.p_element aside h2{
    align-self: center;
}

div.p_element aside p{
    text-align: justify;
}

div.p_element aside button{
    padding: 5px 8px;
    border: #111 solid 2px;
    background-color: transparent;
    align-self: center;
    transition: 0.3s;
    
}
div.p_element aside button:hover{
    /* background-color: rgba(244, 243, 241, 0.5); */
    background-color:  rgba(215, 144, 135, 0.5);
    cursor: pointer;
}
/* li.home{
    background-color: goldenrod;
}
li.o_mnie{
    background-color: pink;
}
li.portfolio{
    background-color: darkolivegreen;
}
li.dlaczego_ja{
    background-color: rosybrown;
}
li.hobby{
    background-color: peachpuff;
}
li.kontakt{
    background-color: peru;
} */
